.note-title{
    font-weight:bold;
    margin : 0px 10px;
    padding:10px;
 }
 
 
 .note-content{
    font-weight:bold;
    margin : 0px 10px;
    padding:10px;
    background-color: white;
    min-height: 25px;
 }
 
 .note-content-textarea{
    width: 100%;
    resize:none
 }